@import url('https://fonts.googleapis.com/css2?family=Glory:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  --primary-color: hsla(248, 70%, 65%, 1);
  --primary-color-active: hsla(248, 70%, 72%, 1);
  --title-color: hsla(206, 56%, 18%, 1);
  --text-color: hsla(206, 56%, 22%, 1);
  --border-color: hsla(0, 0%, 0%, 0.03);
  --body-color: hsl(0, 0%, 90%);

  --title-font: 'Glory', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 72px;
  --h2-font-size: 36px;
  --h3-font-size: 20px;
  --normal-font-size: 18px;
  --small-font-size: 16px;
  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}
*,::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 32px;
}
h1,h2,h3,p{
  margin: 0;
}
h1,h2,h3{
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a{
 text-decoration: none;
}
#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: grid;
  place-items: center;
}
.container{
  max-width: 1140px;
  width: calc(100% - 3rem);
  margin: 0 1.5rem;
  overflow-x: hidden;
}

#active__link {
  color: var(--primary-color);
}
.button {
  padding: .8rem 1.2rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

/* ==== nav menu ===== */
.nav__menu {
  position: fixed;
  top: -130%;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 6rem 0;
}

.nav__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: .5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 15;
}
.nav__btn:hover {
  cursor: pointer;
}
.nav__btn__up {
  width: 1.8rem;
  height: .11rem;
  background-color: #fff;
  text-align: right;
  opacity: 1;
  z-index: 15;
  transition: .4s;
}
.nav__btn__bottom {
  width: 1rem;
  height: .11rem;
  background-color: #fff;
  text-align: right;
  opacity: 1;
  z-index: 15;
  transition: .4s;
}

.show__menu {
  top: 0;
  transition: all .4s ease-out;
}
.toggle__up {
  width: 1.5rem;
  transform: translate(.2rem,.2rem) rotate(.125turn);
  background-color: #000;
  transition: all .4s;
}
.toggle__bottom {
  width: 1.5rem;
  transform: translate(.2rem, -.4rem) rotate(-.125turn);
  background-color: #000;
  transition: all .4s;
}
@media screen and (min-width: 769px) {
  .nav__menu {
    position: inherit;
    /* top: unset;
    left: unset;
    right: unset; */
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .nav__btn, .nav__btn__up, .nav__btn__bottom {
    display: none;
  }
}
footer {
  padding: 2rem 0;
}