.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 150px;
}

/* === Header === */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* row-gap: 1rem; */
  height: 100%;
  padding: .5rem 0;
  z-index: 10;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: .3rem;
  z-index: 15;
}
.logo :last-child {
  transform: translateY(1px);
}

.nav__menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
}
.nav__menu__list :last-child {
  margin: 1rem auto;
}
.nav__menu__list__item {
  cursor: pointer;
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
#indust {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.button {
  padding: .8rem 1.2rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .header {
    height: auto;
  }
  .nav__menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    column-gap: 1.5rem;
  }
  #indust {
    column-gap: .2rem;
  }
  .nav__menu__list :last-child {
    margin: auto .2rem;
  }
  .button {
    padding: .4rem 1rem;
    color: #fff;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #fff;
  }
  .nav__menu__list__item {
    color: #fff;
  }
}