.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 150px;
}
.showcase {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-image: url('../assets/hero-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, hsla(221, 9%, 5%, 0.8), hsla(221, 53%, 10%, 0));
}

/* === Header === */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* row-gap: 1rem; */
  height: 100%;
  padding: .5rem 0;
  z-index: 10;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: .3rem;
  z-index: 15;
}
.logo :last-child {
  transform: translateY(1px);
}

.nav__menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1rem;
}
.nav__menu__list :last-child {
  margin: 1rem auto;
}
.nav__menu__list__item {
  cursor: pointer;
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
#indust {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.button {
  padding: .8rem 1.2rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .header {
    height: auto;
  }
  .nav__menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    column-gap: 1.5rem;
  }
  #indust {
    column-gap: .2rem;
  }
  .nav__menu__list :last-child {
    margin: auto .2rem;
  }
  .button {
    padding: .4rem 1rem;
    color: #fff;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #fff;
  }
  .nav__menu__list__item {
    color: #fff;
  }
}

/* ======== Hero ======= */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1140px;
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  overflow-x: hidden;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
  text-align: center;
}
.hero__content h1 {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  color: #fff;
  line-height: 64px;
}
.hero__content p {
  color: #fff;
  padding-bottom: 1rem;
}
.hero__content button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .2rem;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: .5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.clients {
  width: 100%;
  overflow-x: scroll;
}
.clients svg {
  overflow-x: scroll;
}
@media screen and (min-width: 769px) {
  .hero {
    align-items: flex-start;
  }
  .hero__content {
    align-items: flex-start;
    text-align: left;
  }
}

/* ====== Carousel ==== */
